/*Universal Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin-top: 50px;
  font-family: Garamond, "Times New Roman";
}

a {
 color: #f5f5f5;
 text-decoration: none;
}

li {
  position: relative;
  left: 30px;
}

li,
  p {
   color: #000000;
   font-size: 18px;
}

h3,
  h2 {
  color: #862200;
  font-weight: 350;
}

h1,
  .title {
  color: #862200;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  position: relative;
  bottom: 60px;
}

.sub-title {
  color: #862200;
  font-family: Garamond;
  font-size: 25px;
  font-weight: 320;
}

.description {
  text-align: center;
  font-size: 25px;
}

/*Header Styles*/

header {
  box-shadow: 3px 3px 25px #d4d9df;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 3%;
  /*margin-left: 200px;
  margin-right: 200px;*/
  height: 120px;
  overflow: hidden;
  position: relative;
  bottom: 50px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 110px;
}

/*Navigation*/

ul#navmenu {
  margin-left: 75px;
}

ul#navmenu,
  ul.sub1 {
  list-style-type: none;
}

ul#navmenu li {
  width: 125px;
  text-align: left;
  position: relative;
  left: 100px;
  float: left;
  bottom: 60px;
  font-size: 12px;
  letter-spacing: 2px;
}

ul#navmenu a {
  display: block;
  border-radius: 25px;
  box-shadow: 2px 2px 2px;
  width: 170px;
  height: 35px;
  line-height: 35px;
  background-color: #862200;
  padding-left: 20px;
  position: relative;
  font-family: 'Nanum Myeongjo', serif;

}

ul#navmenu .sub1 a {
  border-bottom: 1px solid #d4d9df;
  width: 170px;
  position: relative;
  right: 50px;
}

ul#navmenu li:hover > a {
  background-color: #d4d9df;
  color: maroon;
  transition: background-color 100ms ease-in 50ms;
}

ul#navmenu li:hover a:hover {
  background-color: #d4d9d2;
  transition: background-color 100ms ease-in 50ms;
}

ul#navmenu ul.sub1 {
  display: none;
  position: absolute;
  top: 95px;
  z-index: 1;
}

ul#navmenu li:hover .sub1 {
  display: block;
}

/*Home*/

.content1 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  padding: 2%;
}

.content1 p {
  line-height: 25px
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  height: 500px;
}

/*Products*/

.content2 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 30px;
  padding: 2%;
}

.content2 p {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 25px;
}

/*PlasticsOne*/

.content3 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  padding: 2%;
}

.P1-image {
  position: relative;
  left: 350px;
  top: 50px;
  margin-top: 5%;
  width: 60%;
}

.P1-products {
  border: solid #f5f5f5;
  border-radius: 15px;
  box-shadow: 8px 8px 10px #b2b9b9;
  background-color: #f5f5f5;
  position: relative;
  bottom: 280px;
  left: 15px;
  width: 23%;
  padding: 3%;
}

.P1-products h3:hover {
  color: #8d8d8d;
}

/*Alzet*/

.content4 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  padding: 2%;
}

.function {
  border: solid #f5f5f5;
  border-radius: 15px;
  box-shadow: 8px 8px 10px #b2b9b9;
  background-color: #f5f5f5;
  position: relative;
  bottom: 80px;
  left: 30px;
  width: 40%;
  padding: 2%;
}

.function li:hover {
  color: #862200;
}

.ospump {
  position: relative;
  left: 550px;
  top: 100px;
  width: 35%;
}

.video {
  display: flex;
  justify-content: center;
}

.video p {
  display: block;
  position: relative;
  bottom: 20px;
  width: 20%;
  border: solid #f5f5f5;
  box-shadow: 8px 8px 10px #b2b9b9;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 2%;
}

.video a {
  color: #862200;
}

.video a:hover {
  color: #8d8d8d;
}

/*AM Systems*/

.content5 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  padding: 2%;
}

.AM-information {
  border: solid #f5f5f5;
  border-radius: 15px;
  box-shadow: 8px 8px 10px #b2b9b9;
  background-color: #f5f5f5;
  position: relative;
  left: 25px;
  top: 80px;
  width: 45%;
  padding: 3%;
}

.AM-information h3:hover {
  color: #8d8d8d;
}

.amplifiers {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

.wire {
  position: relative;
  left: 600px;
  bottom: 125px;
}

/*Stoelting*/

.content6 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  padding: 2%;
}

.stoelting-info {
  border: 1px solid #f5f5f5;
  box-shadow: 8px 8px 10px #b2b9b9;
  border-radius: 15px;
  background-color: #f5f5f5;
  position: relative;
  left: 30px;
  top: 50px;
  width: 33%;
  padding: 2%;
}

.stoelting-info h3:hover {
  color: #8d8d8d;
}

.stereotaxics {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
}

/*Contact Us*/

.content7 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 3%;
  padding: 2%;
}

.content7 p {
  line-height: 25px
}

form,
 input,
  textarea {
  font-family: 'Nanum Myeongjo', serif;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  font-size: 12px;
  margin-bottom: 10px;
  resize: horizontal;
}

textarea, input {
  box-shadow: 2px 2px 10px #4b4d4a;
}

form button {
  font-family: 'Nanum Myeongjo', serif;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
  font-size: 15px;
  background-color: #862200;
  border: 1px solid #862200;
  color: #f5f5f5;
  font-weight: 600;
  box-shadow: 3px 3px 15px #4b4d4a;
}

button:hover {
  background-color: #f5f5f5;
  border: #f5f5f5;
  color: #862200;
  transition: background-color 100ms ease-in 75ms;
}

/*Payment*/

.content8 {
  border: 3px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: #ffffff;
  height: 750px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 3%;
  padding: 2%;
}

.content8 h2 {
  margin-bottom: 10px;
}


/*Footer*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #862200;
  font-family: 'Nanum Myeongjo', serif;
  opacity: 0.9;
}

i {
  padding-right: 5px;
}

footer p {
  font-size: 15px;
}
