/*Universal Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin-top: 50px;
  font-family: Garamond, "Times New Roman";
}

a {
 color: #f5f5f5;
 text-decoration: none;
}

li {
  position: relative;
  left: 30px;
}

li,
  p {
   color: black;
   font-size: 18px;
}

h3,
  h2 {
  color: #a52a2a;
  font-weight: 350;
}

h1,
  .title {
  color: #8b0000;
}

div.header {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid white;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  position: relative;
  bottom: 60px;
}

.sub-title {
  color: #a52a2a;
  font-family: Garamond;
  font-size: 25px;
  font-weight: 320;
}

.description {
  text-align: center;
  font-size: 25px;
}

.link {
  color: #a52a2a;
}

/*Header Styles*/

header {
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px 25px lightgray;
  padding: 10px;
  background-color: white;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
  height: 170px;
  overflow: hidden;
  position: relative;
  bottom: 50px;
  opacity: 0.9;
}

/*New NavMenu*/


ul#navmenu,
  ul.sub1 {
  list-style-type: none;
}

ul#navmenu li {
  width: 125px;
  text-align: left;
  position: relative;
  left: 200px;
  float: left;
  bottom: 60px;
  font-size: 15px;
  letter-spacing: 2px;
}

ul#navmenu a {
  display: block;
  border-radius: 25px;
  box-shadow: 2px 2px 2px;
  width: 170px;
  height: 35px;
  line-height: 35px;
  background-color: #8b3400;
  padding-left: 20px;
  position: relative;
  font-family: "Bell MT";

}

ul#navmenu .sub1 a {
  border-bottom: 1px solid lightgray;
}

ul#navmenu li:hover > a {
  background-color: lightgray;
  color: maroon;
}

ul#navmenu li:hover a:hover {
  background-color: darkgray;
}

ul#navmenu ul.sub1 {
  display: none;
  position: absolute;
  top: 95px;
  right: 160px;
  z-index: 1000;
}

ul#navmenu li:hover .sub1 {
  display: block;
}

/*Home*/

.content1 {
  border: 3px solid white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 200px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

/*Products*/

.content2 {
  border: 3px solid white;
  box-shadow: 3px 3px 25px #510000;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  height: 500px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

/*PlasticsOne*/

.content3 {
  border: 3px solid white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 600px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

.P1-image {
  position: relative;
  left: 350px;
  margin-top: 5%;
  width: 60%;
}

.P1-products {
  position: relative;
  bottom: 375px;
  left: 25px;
  border: solid #f5f5f5;
  box-shadow: 8px 8px 5px lightgray;
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 23%;
  padding: 3%;
}

/*Alzet*/

.content4 {
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  height: 370px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
}

.function {
  position: relative;
  bottom: 80px;
  left: 20px;
  border: solid #f5f5f5;
  box-shadow: 8px 8px 5px lightgray;
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 43%;
  padding: 2%;
}

.ospump {
  position: relative;
  left: 550px;
  top: 100px;
  width: 35%;
}

/*AM Systems*/

.content5 {
  border: 3px solid white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 300px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

.amplifier {
  position: relative;
  left: 555px;
  margin-top: 5%;
  width: 40%;
}

.AM-information {
  position: relative;
  bottom: 120px;
  left: 30px;
  border: solid #f5f5f5;
  box-shadow: 8px 8px 5px lightgray;
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 40%;
  padding: 2%;
}

/*Stoelting*/

.content6 {
  border: 3px solid white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 330px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

.stereotaxic {
  position: relative;
  left: 480px;
  width: 51%;
}

.stoelting-info {
  position: relative;
  bottom: 130px;
  left: 30px;
  border: 1px solid #f5f5f5;
  box-shadow: 8px 8px 5px lightgray;
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 33%;
  padding: 2%;
}

/*Contact Us*/

.content7 {
  border: 3px solid white;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 750px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

form,
 input,
  textarea {
  font-family: Garamond;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  font-size: 15px;
}

textarea, input {
  box-shadow: 2px 2px 10px black;
}

form button {
  font-family: Garamond;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  font-size: 15px;
  background-color: #862200;
  border: 1px solid #862200;
  color: lightgray;
  font-weight: 600;
  box-shadow: 3px 3px 15px black;
}

/*Payment*/

.content8 {
  border: 3px solid white;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #510000;
  background-color: white;
  height: 180px;
  overflow: hidden;
  position: relative;
  bottom: 65px;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
}

/*Footer

footer {
  width: 100%;
  height: 100px;
  background-color: #a52a2a;
  color: #f5f5f5;
}*/
